@page "/mappopup"
@using Simulator.Components.BuildingBlocks

@* Prevent the default layout *@
@*layout null *@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
</head>
<body>
<WorldMapDisplay />
</body>
</html>